.page-header {
  border: 1px solid #ECECEC;
  background-color: $secondary-color;
}
.header__container {
    @extend %container;
    display: flex;
    align-items: center;

    background-color: $secondary-color;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*логотип*/
.logo {
    display: inline-block;
    margin-right: 93px;
    text-decoration: none;
}

.logo__web {
    font-family: $text-logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $accent-color;
}

.logo__studio {
    font-family: $text-logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: black;
}

/* кнопки головної навігації */
.page-header__nav-list {
    @extend %list;
}
.page-header__nav {
    position: relative;
}

.page-header__nav:not(:last-child) {
    margin-right: 50px;
}

.page-header__button {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $text-title-color;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color 250ms $timing-function;

    &:hover {
         color: $accent-color;
         z-index: 2;
    }

    &:focus {
         color: $accent-color;
        z-index: 2;
    }
}



.page-header__button--current {
    color: $accent-color;
}

.page-header__nav--line{
    &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 4px;
            background: $accent-color;
            border-radius: 2px;
        }
}

/* контакти  */
.page-header__contacts {
    @extend %list;
    margin-left: auto;
}

.contacts-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: $text-main-color;
    letter-spacing: 0.02em;
    transition: color 250ms $timing-function;
}

.contacts-link--mail {
    align-items: stretch;
}

.contacts-link--phone {
    align-items: center;
}

.contacts-link{
    &:hover{
        color: $accent-color;
    }
    &:focus {
        color: $accent-color;
    }
}

.contacts-link__icon-envelope {
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.contacts-link__icon-phone {
    height: 16px;
    width: 10px;
    margin-right: 10px;
    fill: currentColor;
}